[mysqld]
port = 3306
bind-address = 0.0.0.0
socket = /tmp/mysql.sock
server-id=master-01
log-bin=/tmp/mysql-bin
binlog-format = 'ROW'
ssl-cipher = 'DEFAULT:!EDH:!DHE'
lower_case_table_names = 1
skip_name_resolve
skip_external_locking
default_storage_engine = InnoDB
transaction_isolation = READ-COMMITTED

innodb_file_per_table
innodb_file_format=barracuda
innodb_large_prefix = 1
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
sql_mode='TRADITIONAL,NO_AUTO_VALUE_ON_ZERO,ONLY_FULL_GROUP_BY,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION'

## innodb
innodb_strict_mode
innodb_buffer_pool_size = 1G
innodb_data_file_path = ibdata1:10M:autoextend
innodb_log_buffer_size = 16M
innodb_log_file_size = 512M
innodb_doublewrite = 0
innodb_read_io_threads = 8
innodb_write_io_threads = 8
innodb_lock_wait_timeout = 5
innodb_support_xa = 1
innodb_autoinc_lock_mode = 2
innodb_flush_log_at_trx_commit = 1
innodb_flush_method = O_DIRECT
innodb_file_per_table
innodb_file_format = Barracuda
innodb_print_all_deadlocks
innodb_large_prefix
